# Copy file nay thanh .env roi dien gia tri thuc te
STORE_NAME=
FOOD_NAME=tra sua
ITEM_NAME=tra sua
SHOPEE_USER=
SHOPEE_PASS=

APPIUM_SERVER_URL=http://127.0.0.1:4723
ANDROID_UDID=emulator-5554
SHOPEEFOOD_APP_PACKAGE=com.deliverynow

# Che do quan sat
DETAIL_PAUSE_SEC=2.5
PLUS_PAUSE_SEC=2.5
AUTO_QUIT=0
